.textalign{
    text-align: center;
}
.textalignhead{
    margin-top: 0;
    font-family: "sans-serif";
    color: #89d6f3;
    text-align: center;
}
.para{
    
    
    padding-right:10%;
    padding-top:5%;
    padding-bottom:21%;
    padding-left: 5%;
    
   
    
    
    background-color: #5f9ea0 !important;
    
}
.paragraph{
    text-align: center;
    
    width: auto;
    background-color: #1d6b87 !important;
    padding: 2rem;
   
   
}

.box{
    
    position: relative;
    padding: 0 0 5rem 0;
    margin: 0;
    color: #fff;
    text-align: center;
    background-color: #1d6b87;
    border-radius: 0;
}

