.home-container {
    background-color: #d0e1f9;
    height: 90vh;
    overflow: hidden;
}
img {
    width: 100vw;
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
}
.search-bar-container {
    z-index: 2;
    position: relative;
    display: block;
    padding-top: 20vh;
}
.search-bar {
    background-color: rgba(255,0,0,0);
    color: #d0e1f9;
    margin: 4px 2px;
    border-radius: 16px;
    width: 42vw;
    height: 4vh;
    text-align: center;
    font-size: 2vh;
    padding-left: 1vh 1vh 1vw 1vw;
    border-color: #d0e1f9;
}

.image-logo{
    text-align: center;

}