a {
    color: #5f9ea0;
    text-decoration: none;
}

.footer-container {
    background-color: #d0e1f9;
    height: 10vh;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    position: fixed;
    z-index: 100;
    width: 100%;
}
