.rent-post{
    background-color: #d0e1f9;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    position: absolute;
    left: 35%;
    
}
.rent-container {
    background-color: #5f9ea0;
    height: 90vh;
    overflow: hidden;
}
